body{
    overflow-x: hidden;
    margin: 0;
}
h2{
    font-family: 'Courier New', 'Courier', 'monospace';
}
h3{
    font-family: 'Courier New', 'Courier', 'monospace';
}
.titel-catégorie{
    font-family: 'Courier New', 'Courier', 'monospace';
    font-size: 4vw;
    transition: ease-in 0.25s;
    color: white;
    text-decoration: none;
    padding-left: 1vw;
    padding-right: 1vw;
    border: dashed 0px #db5133;
    border-radius: 2vw;
}
.titel-catégorie:hover {
    font-size: 4.3vw;
    color: #db5133;
    text-decoration: none;
    border: dashed 2px #db5133;
    border-radius: 2vw;
    
}

.nav-style{
    background-color: #a3b3ab;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.25rem dashed #db5133;
}
.logo-nav{
    width: 22%;
    padding: 25px;
    padding-bottom: 35px;
}
.btn-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btn-nav-style{
    font-family: 'Courier New', 'Courier', 'monospace';
    font-size: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    transition: 0.5s;
}
.btn-nav-style:hover {
    color: #db5133;
}

.full-background-création {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Take full size */
    height: 45vh;
    width: 100%;

    color: white;

    /* Background */
    background: url('title-img/pexels-michael-burrows-7147968.jpg') center center / cover no-repeat;
}

.full-background-couture {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Take full size */
    height: 45vh;
    width: 100%;

    color: white;

    /* Background */
    background: url('title-img/pexels-wallace-chuck-2973399.jpg') center center / cover no-repeat;
}

.full-background-crochet {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Take full size */
    height: 45vh;
    width: 100%;

    color: white;

    /* Background */
    background: url('title-img/pexels-surene-palvie-2070676.jpg') center center / cover no-repeat;
}

.full-background-vetement {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Take full size */
    height: 45vh;
    width: 100%;

    color: white;

    /* Background */
    background: url('title-img/pexels-ksenia-chernaya-3965557.jpg') center center / cover no-repeat;
}

.full-background-contacte {
    /* Center the content */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Take full size */
    height: 45vh;
    width: 100%;

    color: white;

    /* Background */
    background: url('title-img/pexels-pixabay-47319.jpg') center center / cover no-repeat;
}

.presentation{
    background-color: #a3b3ab;
    border-top: dashed 3px #db5133;
    border-bottom: dashed 3px #db5133;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
}

.img-avatar{
    height: 12vw;
}

.all-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5vw;
    margin-right: 3vw;
}

.txt-avatar{
    border-left: solid 2px #7b8580;
    padding-left: 1vw;
}

footer{
    overflow: hidden;
    background-color: rgb(66, 66, 66);
}